{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}


{% endblock %}


{% block content %}



 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Search for birth notification
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="email">
            Child's NHS number
        </label>
        <div id="event-name-hint" class="govuk-hint">
        It’s a 10-digit number, for example 987 654 3210
        </div>
        <input class="govuk-input govuk-!-width-one-half" id="email" name="email" type="text" autocomplete="email">
      </div>

      <div class="govuk-form-group">
       <p class="govuk-body"><a href="02b-search-no-nhs-no.html" class="govuk-link">I do not have the NHS number</a></p>
      </div>    

     

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        href: "03-child-correct"
      }) }}

      
    </div>

  </div>

{% endblock %}
