{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



      <form class="form" action="/v3/informant/prepare-for-appointment-form" method="post">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <h1 class="govuk-heading-l">
            Prepare for registration
          </h1>
  
    

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="coverSheetPriority-hint" id="coverSheetPriority-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Is this registration urgent? 
                </legend>
                <div id="coverSheetPriority-hint" class="govuk-hint">
                  For example, for faith deaths
                </div>
                <div class="govuk-radios govuk-radios">   
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="coverSheetPriority-true" name="coverSheetPriority" type="radio" value="true" {{ checked("coverSheetPriority", "true") }}>
                    <label class="govuk-label govuk-radios__label" id="coverSheetPriority-true-label" for="coverSheetPriority-true">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="coverSheetPriority-false" name="coverSheetPriority" type="radio" value="false" {{ checked("coverSheetPriority", "false") }}>
                    <label class="govuk-label govuk-radios__label" id="coverSheetPriority-false-label" for="coverSheetPriority-false">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <h2 class="govuk-heading-s">Informant contact details</h2>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--xs" id="coverSheetInformantFullName-label" for="coverSheetInformantFullName">
                Full name 
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="coverSheetInformantFullName" name="coverSheetInformantFullName" type="text" aria-required="false" value="{{data['coverSheetInformantFullName']}}">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--xs" id="coverSheetInformantPhoneNumber-label" for="coverSheetInformantPhoneNumber">
                Phone number
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="coverSheetInformantPhoneNumber" name="coverSheetInformantPhoneNumber" type="text" aria-required="false" value="{{data['coverSheetInformantPhoneNumber']}}">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--xs" id="coverSheetInformantEmailAddress-label" for="coverSheetInformantEmailAddress">
                Email address 
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="coverSheetInformantEmailAddress" name="coverSheetInformantEmailAddress" type="text" aria-required="false" value="{{data['coverSheetInformantEmailAddress']}}">
            </div>

            {{ govukTextarea({
              name: "notes",
              value: data['notes'],
              id: "notes",
              label: {
                text: "Notes",
                classes: "govuk-label--s",
                isPageHeading: true
              }
            }) }}
  
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and return"
              }) }}
            </div>
  
  
  
        </div>
      </div>

      </form>



{% endblock %}
