{% extends "layouts/main.html" %}

{% block pageTitle %}
Place of stillbirth – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Stillborn child's details</span>
          <h1 class="govuk-heading-l">
            Place of stillbirth
          </h1>
          
          <form class="form" action="/v4/informant/place-of-stillbirth-form" method="post">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="placeOfDeath">
                <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Where did the deceased die?
                </legend> -->
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="communal-establishment" name="place-of-death" type="radio" value="communal-establishment" {{ checked('place-of-death', 'communal-establishment')}}>
                    <label class="govuk-label govuk-radios__label" for="communal-establishment">
                      Communal establishment
                    </label>
                    <!-- <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased died in a hospital, care home, student halls or other managed residential accommodation.
                    </div> -->
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="home" name="place-of-death" type="radio" value="home" {{ checked('place-of-death', 'home')}}>
                    <label class="govuk-label govuk-radios__label" for="home">
                      Home
                    </label>
                    <!-- <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased died in their own home.
                    </div> -->
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="in-transit" name="place-of-death" type="radio" value="in-transit" {{ checked('place-of-death', 'in-transit')}}>
                    <label class="govuk-label govuk-radios__label" for="in-transit">
                      In transit
                    </label>
                    <!-- <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased died in a vehicle whose location at the time of death is known. 
                    </div> -->
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="elsewhere" name="place-of-death" type="radio" value="elsewhere" {{ checked('place-of-death', 'elsewhere')}}>
                    <label class="govuk-label govuk-radios__label" for="elsewhere">
                      Elsewhere
                    </label>
                    <!-- <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased died somewhere else and their location at the time of death is known.
                    </div>  -->
                  </div>
                  <!-- <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="found-dead-on-arrival" name="place-of-death" type="radio" value="found-dead-on-arrival" {{ checked('place-of-death', 'found-dead-on-arrival')}}>
                    <label class="govuk-label govuk-radios__label" for="found-dead-on-arrival">
                      Not known – found dead on arrival 
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased died on the way to hospital, but their location at the time of death is not known. 
                    </div> 
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="found-dead" name="place-of-death" type="radio" value="found-dead" {{ checked('place-of-death', 'found-dead')}}>
                    <label class="govuk-label govuk-radios__label" for="found-dead">
                      Not known – found dead
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      It's not known where the deceased died, only where their body was found.
                    </div> 
                  </div> -->
                </div>
              </fieldset>
            </div>
            
            <div id="placeOfDeathContainer"></div>

            {% raw %}
            <script>
              var communalEstablishment = `
                  <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Place of stillbirth
                </legend>
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--xs" id="MCCDAddressLine1-label" for="MCCDAddressLine1">
                    Communal establishment address
                  </label>
                  <input class="govuk-input govuk-!-width-full" id="MCCDAddressLine1" name="MCCDAddressLine1" type="text" aria-required="false" value="">
                
                
                  <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-4" data-module="govuk-button">
                 
                  Find address
                </button>
              </div>
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Search by communal establishment</a>
                </p>

              </fieldset>
            </div>
              `;
  
              var atHome = `
              <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Place of stillbirth
                </legend>
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--xs" id="MCCDAddressLine1-label" for="MCCDAddressLine1">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-!-width-full" id="MCCDAddressLine1" name="MCCDAddressLine1" type="text" aria-required="false" value=""">
                
                  <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-4" data-module="govuk-button">
                 
                  Find address
                </button>
              </div>
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">I don't know the postcode</a>
                </p>

              </fieldset>
            </div>
              `;
  
              var inTransit = `
              <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Place of stillbirth
                </legend>
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--xs" id="MCCDAddressLine1-label" for="MCCDAddressLine1">
                    Where did the stillbirth occur?
                  </label>
                  <div id="in-transit-hint" class="govuk-hint">
                  The location of the stillbirth, for example the district, town or civil parish
                </div>
                  <input class="govuk-input govuk-!-width-full" id="MCCDAddressLine1" name="MCCDAddressLine1" type="text" aria-required="false" value="">
                
                  <label class="govuk-label govuk-label--xs govuk-!-margin-top-4" id="MCCDAddressLine1-label" for="MCCDAddressLine1">
                    Where was the mother on the way to when the stillbirth occurred?
                  </label>
                  <div id="in-transit-hint" class="govuk-hint">
                    Search for the communal establishment address
                </div>
                  <input class="govuk-input govuk-!-width-full" id="MCCDAddressLine1" name="MCCDAddressLine1" type="text" aria-required="false" value="">
                
              </div>
               
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state"></a>
                </p>

                
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Search by postcode</a>
                </p>
              
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Enter address manually</a>
                </p>

              </fieldset>
            </div>
              `;
  
              var elsewhere = `
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Place of stillbirth
                </legend>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Address line 1
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="AddressLine1" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-2">
                  Address line 2
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="AddressLine2" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-3">
                  Address line 3
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-line-3" name="AddressLine3" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-4">
                  Address line 4
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="-address-line-4" name="AddressLine4" type="text">
              </div>
               <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
              </div>
            </fieldset>

            <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Search by postcode</a>
                </p>
              `;

              var foundDeadOnArrival = `
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Place deceased was found dead on arrival 
                </legend>
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--xs" id="MCCDAddressLine1-label" for="MCCDAddressLine1">
                    Communal establishment address
                  </label>
                  <input class="govuk-input govuk-!-width-full" id="MCCDAddressLine1" name="MCCDAddressLine1" type="text" aria-required="false" value="">
                
                
                  <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 govuk-!-margin-bottom-2" data-module="govuk-button">
                  Find address
                </button>
              </div>
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-!-margin-bottom-10 govuk-link--no-visited-state">Search by communal establishment</a>
                </p>

              </fieldset>
            </div>
              `;

              var foundDead = `
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Place deceased was found dead
                </legend>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Address line 1
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="AddressLine1" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-2">
                  Address line 2
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="AddressLine2" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-3">
                  Address line 3
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-line-3" name="AddressLine3" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-4">
                  Address line 4
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="-address-line-4" name="AddressLine4" type="text">
              </div>
               <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
              </div>
            </fieldset>

            <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Search by postcode</a>
                </p>
              `;
  
              var htmlBlocks = {
                "communal-establishment": communalEstablishment,
                "home": atHome,
                "in-transit": inTransit,
                "elsewhere": elsewhere,
                "found-dead-on-arrival": foundDeadOnArrival,
                "found-dead": foundDead,
              };
  
              document.querySelectorAll('input[name="place-of-death"]').forEach((element) => {
                element.addEventListener("change", (event) => {
                  var selectedValue = event.target.value;
                  var htmlBlock = htmlBlocks[selectedValue];
                  var container = document.getElementById('placeOfDeathContainer');
                  container.innerHTML = htmlBlock;
                })
              });
            </script>
            {% endraw %}

            <!--<div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Place of death
                </legend>
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--xs" id="MCCDAddressLine1-label" for="MCCDAddressLine1">
                    Communal establishment address
                  </label>
                  <input class="govuk-input govuk-!-width-full" id="MCCDAddressLine1" name="MCCDAddressLine1" type="text" aria-required="false" value="{{data['MCCDAddressLine1'] or "Central Hosptial, London Road, London, Middlesex, E1 8NB "}}">
               

                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Find address
                </button>
              </div>
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Search by communal establishment</a>
                </p>

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">I don’t the postcode</a>
                </p>
              </fieldset>
            </div>  -->

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and return"
              }) }}
            </div>
  
          </form>
  
        </div>
      </div>
  


{% endblock %}
