{% extends "layouts/main.html" %}

{% block pageTitle %}
Personal details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}


  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <span class="govuk-caption-l">Parent's details</span>
          <h1 class="govuk-heading-l">
            Father's details
          </h1>
  
          <form class="form" action="/v4/informant/fathers-details-form" method="post">

 <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" id="fathersPlaceOfBirth-label" for="fathersPlaceOfBirth">
                Place of birth (if available)
              </label>
              <div id="fathersPlaceOfBirth-hint" class="govuk-hint">
                Town and county if in UK, country if outside the UK.
              </div>
              <input class="govuk-input govuk-!-width-one-half" id="fathersPlaceOfBirth" name="fathersPlaceOfBirth" type="text" aria-describedby="fathersPlaceOfBirth-hint" aria-required="false" value="{{data['fathersPlaceOfBirth']}}">
            </div>

            <!-- <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="deceasedSex-fieldset" aria-required="false">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Sex
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="deceasedSex-Female" name="deceasedSex" type="radio" value="female" {{ checked("deceasedSex", "female") }} aria-controls="conditional-deceasedSex-Female" aria-expanded="false">
                  <label class="govuk-label govuk-radios__label" id="deceasedSex-Female-label" for="deceasedSex-Female">
                    Female
                  </label>   
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="deceasedSex-Male" name="deceasedSex" type="radio" value="male" {{ checked("deceasedSex", "male") }}>
                  <label class="govuk-label govuk-radios__label" id="deceasedSex-Male-label" for="deceasedSex-Male">
                    Male
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="deceasedSex-Intersex" name="deceasedSex" type="radio" value="male" {{ checked("deceasedSex", "male") }} aria-controls="conditional-intersex">
                  <label class="govuk-label govuk-radios__label" id="deceasedSex-Intersex-label" for="deceasedSex-Intersex">
                    Indeterminate
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-intersex">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend-xs">
                        Did GRO confirm you can register sex as ‘indeterminate’?
                      </legend>
                      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="changedName">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="changedName-2">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </fieldset>
            </div> -->

            <!-- <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="deceasedUsualAddress-fieldset" aria-required="false">              
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">              
                  Usual address              
                </legend>           
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="deceasedUsualAddress-Sameasplaceofdeath" name="deceasedUsualAddress" type="radio" value="same" {{ checked("deceasedUsualAddress", "same") }} aria-controls="link-to-task">
                    <label class="govuk-label govuk-radios__label" id="deceasedUsualAddress-Sameasplaceofdeath-label" for="deceasedUsualAddress-Sameasplaceofdeath">
                      Same as place of death
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="deceasedUsualAddress-differentPlaceOfDeath" name="deceasedUsualAddress" type="radio" value="same" {{ checked("deceasedUsualAddress", "different") }} aria-controls="link-to-task">
                    <label class="govuk-label govuk-radios__label" id="deceasedUsualAddress-differentPlaceOfDeath-label" for="deceasedUsualAddress-differentPlaceOfDeath">
                      Different to place of death
                    </label>    
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-deceasedUsualAddress-sameplaceofdeathnoncommunalestablishment">

                    </div>
                  </div>
                </div> -->
             

            <!-- <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="deceasedDateOfBirth-fieldset" aria-required="false">  
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Date of birth
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="deceasedDateOfBirth-Fulldateofbirthknown" name="deceasedDateOfBirth" type="radio" value="Full date of birth known" aria-controls="conditional-deceasedDateOfBirth-Fulldateofbirthknown" aria-expanded="false">
                      <label class="govuk-label govuk-radios__label" id="deceasedDateOfBirth-Fulldateofbirthknown-label" for="deceasedDateOfBirth-Fulldateofbirthknown">
                    Full date of birth known
                    </label>
                  </div>
                  
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-deceasedDateOfBirth-Fulldateofbirthknown">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" id="deceasedFullDateOfBirth-fieldset">
                        <legend class="govuk-fieldset__legend govuk-label--xs">
                        Full date of birth
                        </legend>
                        <div class="govuk-date-input" id="deceasedFullDateOfBirth">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="deceasedFullDateOfBirth-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deceasedFullDateOfBirth-day" name="deceasedFullDateOfBirth-day" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                            </div>
                          </div>
              
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="deceasedFullDateOfBirth-month">
                                Month
                              </label>
                  
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deceasedFullDateOfBirth-month" name="deceasedFullDateOfBirth-month" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                            </div>
                          </div>
              
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="deceasedFullDateOfBirth-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="deceasedFullDateOfBirth-year" name="deceasedFullDateOfBirth-year" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4" aria-required="false">
                            </div>
                          </div>
              
                        </div>
                      </fieldset>
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="deceasedDateOfBirth-Partialdateofbirthknown" name="deceasedDateOfBirth" type="radio" value="Partial date of birth known" aria-controls="conditional-deceasedDateOfBirth-Partialdateofbirthknown" aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" id="deceasedDateOfBirth-Partialdateofbirthknown-label" for="deceasedDateOfBirth-Partialdateofbirthknown">
                        Partial date of birth known
                    </label>
                  </div>
                    
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-deceasedDateOfBirth-Partialdateofbirthknown">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="deceasedPartialDateOfBirth-hint" id="deceasedPartialDateOfBirth-fieldset">
                        <legend class="govuk-fieldset__legend govuk-label--xs">
                          Partial date of birth
                        </legend>
                        <div id="deceasedPartialDateOfBirth-hint" class="govuk-hint">
                          Enter as much as is known
                        </div>
                        <div class="govuk-date-input" id="deceasedPartialDateOfBirth">
                  
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="deceasedPartialDateOfBirth-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deceasedPartialDateOfBirth-day" name="deceasedPartialDateOfBirth-day" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                            </div>
                          </div>
                
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="deceasedPartialDateOfBirth-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deceasedPartialDateOfBirth-month" name="deceasedPartialDateOfBirth-month" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                            </div>
                          </div>
                
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="deceasedPartialDateOfBirth-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="deceasedPartialDateOfBirth-year" name="deceasedPartialDateOfBirth-year" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4" aria-required="false">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--xs" id="deceasedAge-label" for="deceasedAge">
                        Age
                      </label>
                      <input class="govuk-input govuk-input--width-3" id="deceasedAge" name="deceasedAge" type="text" aria-required="false">
                    </div>

                  </div>

                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="deceasedDateOfBirth-Approximateyearofbirthonly" name="deceasedDateOfBirth" type="radio" value="Approximate year of birth only" aria-controls="conditional-deceasedDateOfBirth-Approximateyearofbirthonly" aria-expanded="false">
                      <label class="govuk-label govuk-radios__label" id="deceasedDateOfBirth-Approximateyearofbirthonly-label" for="deceasedDateOfBirth-Approximateyearofbirthonly">
                    Approximate year of birth only
                    </label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-deceasedDateOfBirth-Approximateyearofbirthonly">
                    
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--xs" id="deceasedApproximateYearOfBirth-label" for="deceasedApproximateYearOfBirth">
                        Approximate year of birth
                      </label>
                      <input class="govuk-input govuk-input--width-4" id="deceasedApproximateYearOfBirth" name="deceasedApproximateYearOfBirth" type="text" aria-required="false">
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-label--xs" id="deceasedApproximateAge-label" for="deceasedApproximateAge">
                        Approximate age
                      </label>
                      <input class="govuk-input govuk-input--width-3" id="deceasedApproximateAge" name="deceasedApproximateAge" type="text" aria-required="false">
                    </div>
                  </div>
                  
                </div>
              </fieldset>
            </div>               -->

           

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="fathersCountryOfBirth-fieldset" aria-required="false">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Country of birth
              </legend>
              <div class="govuk-radios govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="fathersCountryOfBirth-England" name="fathersCountryOfBirth" type="radio" value="england" {{ checked("fathersCountryOfBirth", "england") }}>
                      <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-England-label" for="fathersCountryOfBirth-England">
                    England
                  </label>  
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="fathersCountryOfBirth-NorthernIreland" name="fathersCountryOfBirth" type="radio" value="northern-ireland" {{ checked("fathersCountryOfBirth", "northern-ireland") }}>
                      <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-NorthernIreland-label" for="fathersCountryOfBirth-NorthernIreland">
                    Northern Ireland
                  </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="fathersCountryOfBirth-Scotland" name="fathersCountryOfBirth" type="radio" value="scotland" {{ checked("fathersCountryOfBirth", "scotland") }}>
                      <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-Scotland-label" for="fathersCountryOfBirth-Scotland">
                    Scotland
                  </label>          
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="fathersCountryOfBirth-Wales" name="fathersCountryOfBirth" type="radio" value="wales" {{ checked("fathersCountryOfBirth", "wales") }}>
                      <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-Wales-label" for="fathersCountryOfBirth-Wales">
                    Wales
                  </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="fathersCountryOfBirth-OutsidetheUK" name="fathersCountryOfBirth" type="radio" value="outside-the-UK" {{ checked("fathersCountryOfBirth", "outside-the-UK") }}>
                      <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-OutsidetheUK-label" for="fathersCountryOfBirth-OutsidetheUK">
                        Outside the UK
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="fathersCountryOfBirth-Notknown" name="fathersCountryOfBirth" type="radio" value="not-known" {{ checked("fathersCountryOfBirth", "not-known") }}>
                      <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-Notknown-label" for="fathersCountryOfBirth-Notknown">
                      Not known
                      </label>
                    </div>
              </div>
            </fieldset>
            </div>
            
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="SpanishNational-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Spanish national
                </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="SpanishNational-true" name="SpanishNational" type="radio" value="true" {{ checked("SpanishNational", "true") }}>
                    <label class="govuk-label govuk-radios__label" id="SpanishNational-true-label" for="SpanishNational-true">
                        Yes
                    </label>    
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="SpanishNational-false" name="SpanishNational" type="radio" value="false" {{ checked("SpanishNational", "false") }}>
                      <label class="govuk-label govuk-radios__label" id="SpanishNational-false-label" for="SpanishNational-false">
                        No
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="SpanishNational-unknown" name="SpanishNational" type="radio" value="unknown" {{ checked("SpanishNational", "unknown") }}>
                    <label class="govuk-label govuk-radios__label" id="SpanishNational-unknown-label" for="SpanishNational-unknown">
                      Unknown
                    </label>
                </div>
                </div>
              </fieldset>
            </div>

           <div class="govuk-form-group" id="occupation">
  <label class="govuk-label govuk-fieldset__legend--s" for="fathersOccupation">
    Occupation
  </label>
  <input class="govuk-input govuk-input--width-10" id="fathersOccupation" name="fathersOccupation" type="text" 
    aria-describedby="fathersOccupation-hint" aria-required="false" value="{{ data['fathersOccupation'] }}">
</div>

            

             <div class="govuk-form-group" id="fatherdeceased">
              <fieldset class="govuk-fieldset" id="fatherdeceased-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Is the father deceased?
                </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="fatherdeceased-true" name="fatherdeceased" type="radio" value="true" {{ checked("fatherdeceased", "true") }}>
                    <label class="govuk-label govuk-radios__label" id="fatherdeceased-true-label" for="fatherdeceased-true">
                        Yes
                    </label>    
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="fatherdeceased-false" name="fatherdeceased" type="radio" value="false" {{ checked("fatherdeceased", "false") }}>
                      <label class="govuk-label govuk-radios__label" id="fatherdeceased-false-label" for="fatherdeceased-false">
                        No
                      </label>
                  </div>
                  
                </div>
              </fieldset>
            </div>

            <!-- <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="OccupationStatus-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Occupation status
                </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="OccupationStatus-true" name="OccupationStatus" type="radio" value="true" {{ checked("OccupationStatus", "true") }}>
                    <label class="govuk-label govuk-radios__label" id="OccupationStatus-true-label" for="OccupationStatus-true">
                        Retired
                    </label>    
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="OccupationStatus-false" name="OccupationStatus" type="radio" value="false" {{ checked("OccupationStatus", "false") }}>
                      <label class="govuk-label govuk-radios__label" id="OccupationStatus-false-label" for="OccupationStatus-false">
                        Not retired
                      </label>
                  </div>
                </div>
              </fieldset>
            </div> -->

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and continue"
              })
            }} 
            </div>
  
          </form>
  
        </div>
      </div>
  


{% endblock %}
