{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

     <span class="govuk-caption-l">Add record details</span>
    <h1 class="govuk-heading-l">
      Check record details
    </h1>
     <h2 class="govuk-heading-m">
     Source of medical information
    </h2>
     <dl class="govuk-summary-list">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Source of medical information
        </dt>
        <dd class="govuk-summary-list__value">
          {% set userMedicalInfoSourceText = {
          "1-informant": "Medical certificate of stillbirth (form 34)",
          "2-cn2-with-inf": "Coroner's post-mortem with informant (form CN2)",
          "3-inquest-no-inf": "Coroner's inquest (form 99A)",
          "4-informant": "Certificate from a registered midwife or medical practitioner is not available (form 35)"
         
          } %}
          {{ userMedicalInfoSourceText[data['userMedicalInfoSource']] or "Medical certificate of stillbirth (form 34)" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="../../04-medical-info.html">Change<span class="govuk-visually-hidden"> date of
              birth</span></a>
        </dd>
      </div>
     

    </dl>

 <h2 class="govuk-heading-m">
     Who is the informant
    </h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Informant
        </dt>
        <dd class="govuk-summary-list__value">
          {% set whoIsInformantText = {
          "mother": "Mother",
          "father": "Father",
          "secondParent": "Second parent",
          "motherAndFather": "Mother and father",
          "motherAndParent": "Mother and second parent",
          "otherInformant": "Other"
          } %}

          {% set userSbOtherDetailText = {
          "sb-occupier": "Occupier of where the stillbirth took place",
          "sb-present": "Person present at the stillbirth",
          "sb-incharge": "Person in charge of the stillbirth child",
          "sb-found": "Person who found the stillborn child"
          } %}


 {% if data['whoIsInformant'] == 'otherInformant' and data['userSbOtherDetail'] %}
        {{ userSbOtherDetailText[data['userSbOtherDetail']] or "Person present at the stillbirth" }}
      {% else %}
        {{ whoIsInformantText[data['whoIsInformant']] or "Mother" }}
      {% endif %}


          <!-- {{ whoIsInformantText[data['whoIsInformant']] or "Mother" }}
           {{ userSbOtherDetailText[data['userSbOtherDetail']] or "Person present at the stillbirth" }} -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="01-who-is-informant">Change<span class="govuk-visually-hidden"> date of
              birth</span></a>
        </dd>
      </div>
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Parents married or in a civil partnership
        </dt>
        <dd class="govuk-summary-list__value">
          {% set marriedOrCivilPartnershipText = {
          "married": "Married",
          "civilPartnership": "Civil partnership",
          "marriedNeither": "Neither"
          } %}
          {{ marriedOrCivilPartnershipText[data['marriedOrCivilPartnership']] or "Married" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="03-married">Change<span class="govuk-visually-hidden"> customer
              reference</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other details to be recorded
        </dt>
        <dd class="govuk-summary-list__value">
          {% set whoElseDetailsText = {
          "whoElseFather": "Father",
          "whoElseSecondParent": "Second Parent",
          "whoElseNone": "None"
          } %}
          {{ whoElseDetailsText[data['whoElseDetails']] or "Father" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="04-who-else">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>

    </dl>


    <form action="../task-list" method="post" novalidate>

      {{ govukButton({
      text: "Create record"
      }) }}

    </form>

  </div>
</div>


{% endblock %}