{% extends "layouts/main.html" %}

{% block pageTitle %}
Name and date of death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



{{ govukBackLink({
text: "Back to record",
href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <span class="govuk-caption-l">Statistics</span>
    <h1 class="govuk-heading-l">
      Confidential statistics
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-7">This information is required by law, and it’s supplied only to the UK Statistics Authority and researchers approved by the National Statistician. It will not be entered in the register.</p>

    <form class="form" action="/v2/informant/confidential-form" method="post">

  
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dateOfDeathType-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Is the mother's date of birth known?
    </legend>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <!-- Option 1: Full date known -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dateOfDeathType-1" name="dateOfDeathType"
               type="radio" value="FULL_DATE_OF_DEATH" data-aria-controls="conditional-dateOfDeathType-1" checked>
        <label class="govuk-label govuk-radios__label" for="dateOfDeathType-1">
          Yes, the mother's full date of birth is known
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dateOfDeathType-1">
        <!-- Full date input (day, month, year) -->
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Mother's date of birth</legend>
          <div id="dateOfDeath-hint" class="govuk-hint">For example, 23 11 2024.</div>
          <div class="govuk-date-input" id="dateOfDeath_input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dateOfDeath_input-day">Day</label>
                <input class="govuk-input govuk-input--width-2" id="dateOfDeath_input-day" name="dateOfDeath-day"
                       type="text" inputmode="numeric" maxlength="2" autocomplete="off">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dateOfDeath_input-month">Month</label>
                <input class="govuk-input govuk-input--width-2" id="dateOfDeath_input-month" name="dateOfDeath-month"
                       type="text" inputmode="numeric" maxlength="2" autocomplete="off">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dateOfDeath_input-year">Year</label>
                <input class="govuk-input govuk-input--width-4" id="dateOfDeath_input-year" name="dateOfDeath-year"
                       type="text" inputmode="numeric" maxlength="4" autocomplete="off">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Option 2: Partial date known -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dateOfDeathType-2" name="dateOfDeathType"
               type="radio" value="PARTIAL_DATE_OF_DEATH" data-aria-controls="conditional-dateOfDeathType-2">
        <label class="govuk-label govuk-radios__label" for="dateOfDeathType-2">
          Yes, part of the mother's date of birth is known
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dateOfDeathType-2">
        <!-- Month and year only -->
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Mother's partial date of birth</legend>
          <div id="partialDateOfDeath-hint" class="govuk-hint">For example, 11 2024 or 2024.</div>
          <div class="govuk-date-input" id="partialDateOfDeath_input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="partialDateOfDeath_input-month">Month</label>
                <input class="govuk-input govuk-input--width-2" id="partialDateOfDeath_input-month" name="partialDateOfDeath-month"
                       type="text" inputmode="numeric" maxlength="2" autocomplete="off">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="partialDateOfDeath_input-year">Year</label>
                <input class="govuk-input govuk-input--width-4" id="partialDateOfDeath_input-year" name="partialDateOfDeath-year"
                       type="text" inputmode="numeric" maxlength="4" autocomplete="off">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Option 3 -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dateOfDeathType-3" name="dateOfDeathType"
               type="radio" value="DATE_BODY_FOUND">
        <label class="govuk-label govuk-radios__label" for="dateOfDeathType-3">
          No, the mother's date of birth is not known
        </label>
      </div>

      <!-- Option 4 -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dateOfDeathType-4" name="dateOfDeathType"
               type="radio" value="DATE_REFUSED">
        <label class="govuk-label govuk-radios__label" for="dateOfDeathType-4">
          Refused to answer
        </label>
      </div>
    </div>
  </fieldset>
</div>



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dateOfBirthFatherType-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Is the father's date of birth known?
    </legend>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <!-- Option 1: Full date known -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dateOfBirthFatherType-1" name="dateOfBirthFatherType"
               type="radio" value="FULL_DATE_OF_BIRTH_FATHER" data-aria-controls="conditional-dateOfBirthFatherType-1" checked>
        <label class="govuk-label govuk-radios__label" for="dateOfBirthFatherType-1">
          Yes, the father's full date of birth is known
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dateOfBirthFatherType-1">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Father's date of birth</legend>
          <div id="dateOfBirthFather-hint" class="govuk-hint">For example, 23 11 1980.</div>
          <div class="govuk-date-input" id="dateOfBirthFather_input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dateOfBirthFather_input-day">Day</label>
                <input class="govuk-input govuk-input--width-2" id="dateOfBirthFather_input-day" name="dateOfBirthFather-day"
                       type="text" inputmode="numeric" maxlength="2" autocomplete="off">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dateOfBirthFather_input-month">Month</label>
                <input class="govuk-input govuk-input--width-2" id="dateOfBirthFather_input-month" name="dateOfBirthFather-month"
                       type="text" inputmode="numeric" maxlength="2" autocomplete="off">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dateOfBirthFather_input-year">Year</label>
                <input class="govuk-input govuk-input--width-4" id="dateOfBirthFather_input-year" name="dateOfBirthFather-year"
                       type="text" inputmode="numeric" maxlength="4" autocomplete="off">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Option 2: Partial date known -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dateOfBirthFatherType-2" name="dateOfBirthFatherType"
               type="radio" value="PARTIAL_DATE_OF_BIRTH_FATHER" data-aria-controls="conditional-dateOfBirthFatherType-2">
        <label class="govuk-label govuk-radios__label" for="dateOfBirthFatherType-2">
          Yes, part of the father's date of birth is known
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dateOfBirthFatherType-2">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Father's partial date of birth</legend>
          <div id="partialDateOfBirthFather-hint" class="govuk-hint">For example, 11 1980 or just 1980.</div>
          <div class="govuk-date-input" id="partialDateOfBirthFather_input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="partialDateOfBirthFather_input-month">Month</label>
                <input class="govuk-input govuk-input--width-2" id="partialDateOfBirthFather_input-month" name="partialDateOfBirthFather-month"
                       type="text" inputmode="numeric" maxlength="2" autocomplete="off">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="partialDateOfBirthFather_input-year">Year</label>
                <input class="govuk-input govuk-input--width-4" id="partialDateOfBirthFather_input-year" name="partialDateOfBirthFather-year"
                       type="text" inputmode="numeric" maxlength="4" autocomplete="off">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Option 3 -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dateOfBirthFatherType-3" name="dateOfBirthFatherType"
               type="radio" value="DATE_OF_BIRTH_FATHER_UNKNOWN">
        <label class="govuk-label govuk-radios__label" for="dateOfBirthFatherType-3">
          No, the father's date of birth is not known
        </label>
      </div>

      <!-- Option 4 -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="dateOfBirthFatherType-4" name="dateOfBirthFatherType"
               type="radio" value="DATE_OF_BIRTH_FATHER_REFUSED">
        <label class="govuk-label govuk-radios__label" for="dateOfBirthFatherType-4">
          Refused to answer
        </label>
      </div>
    </div>
  </fieldset>
</div>









      
     

     





<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="marriageDateKnown-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Do you know the date of the parent's marriage or civil partnership?
    </legend>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="marriageDateKnown-yes" name="marriageDateKnown"
               value="MARRIAGE_DATE_KNOWN" data-aria-controls="conditional-marriageDateKnown-yes">
        <label class="govuk-label govuk-radios__label" for="marriageDateKnown-yes">
          Yes
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-marriageDateKnown-yes">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="marriage-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Date of marriage or civil partnership
            </legend>
            <div id="marriage-date-hint" class="govuk-hint">
              For example, 23 11 2024
            </div>
            <div class="govuk-date-input" id="marriageDate">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="marriageDate-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="marriageDate-day" name="marriageDate-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="marriageDate-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="marriageDate-month" name="marriageDate-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="marriageDate-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="marriageDate-year" name="marriageDate-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="marriageDateKnown-no" name="marriageDateKnown"
               value="MARRIAGE_DATE_UNKNOWN">
        <label class="govuk-label govuk-radios__label" for="marriageDateKnown-no">
          No
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="marriageDateKnown-refused" name="marriageDateKnown"
               value="MARRIAGE_DATE_REFUSED">
        <label class="govuk-label govuk-radios__label" for="marriageDateKnown-refused">
          Refused to answer
        </label>
      </div>
    </div>
  </fieldset>
</div>

     

<!-- 
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="marriageDateKnown-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Do you know the date of the parent's marriage?
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
    
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="marriageDateKnown-yes" name="marriageDateKnown"
               value="MARRIAGE_DATE_KNOWN">
        <label class="govuk-label govuk-radios__label" for="marriageDateKnown-yes">
          Yes
        </label>
      </div>


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="marriageDateKnown-no" name="marriageDateKnown"
               value="MARRIAGE_DATE_UNKNOWN">
        <label class="govuk-label govuk-radios__label" for="marriageDateKnown-no">
          No
        </label>
      </div>

    
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="marriageDateKnown-refused" name="marriageDateKnown"
               value="MARRIAGE_DATE_REFUSED">
        <label class="govuk-label govuk-radios__label" for="marriageDateKnown-refused">
          Refused to answer
        </label>
      </div>
    </div>
  </fieldset>
</div> -->



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="previousMarriageMother-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Has the mother been married or in a civil partnership before this one?
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <!-- Option 1: Yes -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="previousMarriageMother-yes" name="previousMarriageMother"
               value="PREVIOUS_MARRIAGE_MOTHER_YES">
        <label class="govuk-label govuk-radios__label" for="previousMarriageMother-yes">
          Yes
        </label>
      </div>

      <!-- Option 2: No -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="previousMarriageMother-no" name="previousMarriageMother"
               value="PREVIOUS_MARRIAGE_MOTHER_NO">
        <label class="govuk-label govuk-radios__label" for="previousMarriageMother-no">
          No
        </label>
      </div>

      <!-- Option 3: Refused to answer -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="previousMarriageMother-refused" name="previousMarriageMother"
               value="PREVIOUS_MARRIAGE_MOTHER_REFUSED">
        <label class="govuk-label govuk-radios__label" for="previousMarriageMother-refused">
          Refused to answer
        </label>
      </div>
    </div>
  </fieldset>
</div>



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="liveBirthsMother-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Has the mother had any children born alive before?
    </legend>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="liveBirthsMother-yes" name="liveBirthsMother"
               value="LIVE_BIRTHS_MOTHER_YES" data-aria-controls="conditional-liveBirthsMother-yes">
        <label class="govuk-label govuk-radios__label" for="liveBirthsMother-yes">
          Yes
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-liveBirthsMother-yes">
        <div class="govuk-form-group">
          <label class="govuk-label" for="numberOfChildrenBornAlive">
            Number of children born alive
          </label>
          <input class="govuk-input govuk-input--width-5" id="numberOfChildrenBornAlive" name="numberOfChildrenBornAlive" type="text">
        </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="liveBirthsMother-no" name="liveBirthsMother"
               value="LIVE_BIRTHS_MOTHER_NO">
        <label class="govuk-label govuk-radios__label" for="liveBirthsMother-no">
          No
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="liveBirthsMother-unknown" name="liveBirthsMother"
               value="LIVE_BIRTHS_MOTHER_UNKNOWN">
        <label class="govuk-label govuk-radios__label" for="liveBirthsMother-unknown">
          Not known
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="liveBirthsMother-refused" name="liveBirthsMother"
               value="LIVE_BIRTHS_MOTHER_REFUSED">
        <label class="govuk-label govuk-radios__label" for="liveBirthsMother-refused">
          Refused to answer
        </label>
      </div>
    </div>
  </fieldset>
</div>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="stillbirthsMother-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Has the mother had any stillborn children before?
    </legend>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="stillbirthsMother-yes" name="stillbirthsMother"
               value="STILLBIRTHS_MOTHER_YES" data-aria-controls="conditional-stillbirthsMother-yes">
        <label class="govuk-label govuk-radios__label" for="stillbirthsMother-yes">
          Yes
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-stillbirthsMother-yes">
        <div class="govuk-form-group">
          <label class="govuk-label" for="numberOfStillbornChildren">
            Number of stillborn children
          </label>
          <input class="govuk-input govuk-input--width-5" id="numberOfStillbornChildren" name="numberOfStillbornChildren" type="text">
        </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="stillbirthsMother-no" name="stillbirthsMother"
               value="STILLBIRTHS_MOTHER_NO">
        <label class="govuk-label govuk-radios__label" for="stillbirthsMother-no">
          No
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="stillbirthsMother-unknown" name="stillbirthsMother"
               value="STILLBIRTHS_MOTHER_UNKNOWN">
        <label class="govuk-label govuk-radios__label" for="stillbirthsMother-unknown">
          Not known
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="stillbirthsMother-refused" name="stillbirthsMother"
               value="STILLBIRTHS_MOTHER_REFUSED">
        <label class="govuk-label govuk-radios__label" for="stillbirthsMother-refused">
          Refused to answer
        </label>
      </div>
    </div>
  </fieldset>
</div>


<!-- <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="stillbirthsMother-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Has the mother had any stillborn children before?
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
   
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="stillbirthsMother-yes" name="stillbirthsMother"
               value="STILLBIRTHS_MOTHER_YES">
        <label class="govuk-label govuk-radios__label" for="stillbirthsMother-yes">
          Yes
        </label>
      </div>
  
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="stillbirthsMother-no" name="stillbirthsMother"
               value="STILLBIRTHS_MOTHER_NO">
        <label class="govuk-label govuk-radios__label" for="stillbirthsMother-no">
          No
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="stillbirthsMother-unknown" name="stillbirthsMother"
               value="STILLBIRTHS_MOTHER_UNKNOWN">
        <label class="govuk-label govuk-radios__label" for="stillbirthsMother-unknown">
          Not known
        </label>
      </div>
  
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" id="stillbirthsMother-refused" name="stillbirthsMother"
               value="STILLBIRTHS_MOTHER_REFUSED">
        <label class="govuk-label govuk-radios__label" for="stillbirthsMother-refused">
          Refused to answer
        </label>
      </div>
    </div>
  </fieldset>
</div> -->







      <div class="govuk-button-group">
        {{ govukButton({
        text: "Save and return"
        }) }}
      </div>

    </form>

  </div>
</div>





<!-- Load the JS from views/v2/ -->



{% endblock %}