{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



      <form class="form" action="/latest/informant/uploads-form" method="post">

   
  
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Upload documents</h1>
         

            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Upload
            </button>

              <p>No documents have been uploaded.</p>
              <p>This feature lets you keep scans of medical certificates or coroner forms with the rest of the registration information. They will not be sent to RON. Uploads will be permanently deleted once the record is complete.</p>
              <p>Do not upload scans of other personal documents, such as passports or birth certificates.</p>
              
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and return"
              }) }}
            </div>
  
        
  
        </div>
      </div>
  
  

      </form>

 

{% endblock %}
