{% extends "layouts/main.html" %}

{% block pageTitle %}
Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Stillbirth registration</h1>

    <h2 class="govuk-heading-m">Supporting information (optional)</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="supporting-info/prepare-for-appointment">
            Prepare for registration
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.prepareForAppointmentCompleted %}
          Entered
          {% else %}
           
          {% endif %}

        </div>
      </li>

      <!-- <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="supporting-info/uploads">
            Uploads
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.uploadsCompleted %}
          Entered
          {% else %}
           
          {% endif %}
        </div>
      </li>

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="supporting-info/comments">
            Comments
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.commentsCompleted %}
          Entered
          {% else %}
          
          {% endif %}
        </div>
      </li> -->
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Source of medical information</h2>
   


<ul class="govuk-task-list">
  <!-- <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">


 {% if data.userMedicalInfoSource == "1-informant" %}
  Medical certificate of stillbirth (form 34)
{% elif data.userMedicalInfoSource == "4-informant" %}
  There was no medical professional involved (form 35)
  {% elif data.userPostMortemDetail == "2-with-inf" %}
    Coroner's post-mortem with informant (CN2)
{% else %}
   Medical certificate of stillbirth (form-34)
{% endif %}
      
    </div>
    <div class="govuk-task-list__status">
      Completed
    </div>
  </li> -->

   {% if data.userMedicalInfoSource == "1-informant" %}
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="cause-of-death/pregnancy-delivery">
            Pregnancy and delivery
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.pregCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>
      {% elif data.userPostMortemDetail == "2-with-inf" %}

      {% endif %}

    

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="cause-of-death/cause-of-death">
            Cause of death
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.codCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>

        {% if data.userMedicalInfoSource == "1-informant" %}

   {% elif data.userPostMortemDetail == "2-with-inf" %}
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="cause-of-death/coroner-details">
            Coroner details
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.corDetailsCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>
   

      {% endif %}

    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Whose details will be recorded</h2>

    {% if not (data.pregCompleted and data.codCompleted) %}
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          <div class="govuk-task-list__hint ">
            The rest of the form will become available after you complete this section.
          </div>
        </div>
        <div class="govuk-task-list__status">
          <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
        </div>
      </li>
    </ul>

    {% elif not data.whoseDetailsCompleted %}
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">

          <a class="govuk-link govuk-task-list__link" href="informant-triage/01-who-is-informant">
            Informant and whose details will be recorded
          </a>

          <div class="govuk-task-list__hint ">
            The rest of the form will become available after you complete this section.
          </div>

        </div>
        <div class="govuk-task-list__status">
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>

        </div>
      </li>
    </ul>

    <!-- ELSE if the informant details have been complete the rest of the task list appears-->

    {% elif data.whoseDetailsCompleted %}
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          <a class="govuk-link govuk-task-list__link" href="informant-triage/06-check">
            Informant and whose details will be recorded
          </a>
        </div>
        <div class="govuk-task-list__status">
          Completed

        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Child's details</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="child-details/name-date">
            Name, sex and date of stillbirth
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.nameDateCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="child-details/place-of-stillbirth">
            Place of stillbirth
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.placeCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Parent's details</h2>
     <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="parents-details/mothers-name">
            Mother's name
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.mothersNameCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="parents-details/mothers-details">
            Mother's details
          </a>
        </div>
        <div class="govuk-task-list__status">
           {% if data.mothersDetailsCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>
       <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="parents-details/fathers-name">
            Father's name
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.fathersNameCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="parents-details/fathers-details">
            Father's details
          </a>
        </div>
        <div class="govuk-task-list__status">
           {% if data.fathersDetailsCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Statistics</h2>
     <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="stats/confidential">
            Confidential statistics
          </a>
        </div>
        <div class="govuk-task-list__status">
          {% if data.statsConfidentialCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>

      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="stats/voluntary">
            Voluntary statistics
          </a>
        </div>
        <div class="govuk-task-list__status">
           {% if data.statsVoluntaryCompleted %}
          Completed
          {% else %}
          <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          {% endif %}
        </div>
      </li>
      </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Submit the registration</h2>
     <ul class="govuk-task-list">
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if not (data.statsConfidentialCompleted) %}
          <div class="govuk-task-list__hint ">
            Registrar's details
          </div>
           {% else %}
 <a class="govuk-link govuk-task-list__link" href="submit/register-page">
            Registrar's details
          </a>
           {% endif %}
        </div>
        
<div class="govuk-task-list__status">
      {% if not data.statsConfidentialCompleted %}
        <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
      {% elif data.statsConfidentialCompleted and not data.registerPageCompleted %}
        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
      {% elif data.registerPageCompleted %}
        Completed
      {% endif %}
    </div>

      </li>
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          <div class="govuk-task-list__hint ">
{% if not (data.registerPageCompleted) %}
          <div class="govuk-task-list__hint ">
            Check your answers
          </div>
           {% else %}
 <a class="govuk-link govuk-task-list__link" href="submit/check-answers-page">
            Check your answers
          </a>
           {% endif %}
          </div>
        </div>
        <div class="govuk-task-list__status">
           {% if not data.registerPageCompleted %}
        <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
      {% elif data.registerPageCompleted and not data.checkAnswersCompleted %}
        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
      {% elif data.registerPageCompleted %}
        Completed
      {% endif %}
        </div>
      </li>
    </ul>
    {% endif %}

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p><a href="#" class="govuk-link">Change record details</a></p>
    <p><a href="#" class="govuk-link" style="color: #d4351c;">Delete record</a></p>

    </div>
</div>
{% endblock %}