{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pending registrations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


 <form class="form" action="03-child-correct.html" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-3">

        <h1 class="govuk-heading-l">
          Stillbirth notifications
        </h1>

      </div>
      

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-4">
<!-- <h2 class="govuk-heading-m">Search</h2> -->
<p class="govuk-body"><a href="02b-search-no-nhs-no.html" class="govuk-link">Search all notifications</a>, if you cannot see the notification you need.</p>
</div>
</div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Select an NHS birth notification</h2>

<p class="govuk-body">Outstanding birth notifications for stillbirths in Wakefield.</p>



<table class="govuk-table govuk-table--small-text-until-tablet pending-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">NHS birth notifications</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="padding-top: 10px;">Child's NHS number</th>
      <th scope="col" class="govuk-table__header">Mother's name</th>
      <th scope="col" class="govuk-table__header">Stillbirth date</th>
      <th scope="col" class="govuk-table__header">Sex</th>
      <th scope="col" class="govuk-table__header">Place of stillbirth</th>
      
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="03-child-correct" class="govuk-link govuk-body-svuk-table__cell" >390 446 7891</a></td>
      <td class="govuk-table__cell">DUFFY, Anna</td>
      <td class="govuk-table__cell">21/08/2025</td>
      <td class="govuk-table__cell">Male</td>
      <td class="govuk-table__cell">Central Hospital, Wakefield</td>
     
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="03-child-correct" class="govuk-link govuk-body-svuk-table__cell">390 123 4567</a></td>
      <td class="govuk-table__cell">SHORT, Celine</td>
      <td class="govuk-table__cell">06/07/2025</td>
      <td class="govuk-table__cell">Female</td>
      <td class="govuk-table__cell">Queen Mary’s Hospital, Wakefield</td>
     
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="03-child-correct" class="govuk-link govuk-body-svuk-table__cell">390 123 4567</a></td>
      <td class="govuk-table__cell">HUSEIN, Lila</td>
      <td class="govuk-table__cell">15/07/2025</td>
      <td class="govuk-table__cell">Male</td>
      <td class="govuk-table__cell">Royal Free Hospital, Wakefield</td>
    
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="white-space: nowrap; padding-top: 15px;"><a href="03-child-correct" class="govuk-link govuk-body-svuk-table__cell">390 987 6543</a></td>
      <td class="govuk-table__cell">SMITH, Olivia</td>
      <td class="govuk-table__cell">01/08/2025</td>
      <td class="govuk-table__cell">Female</td>
      <td class="govuk-table__cell">St. Mary’s Hospital, Wakefield</td>
     
    </tr>
  
  </tbody>
</table>



      </div>
    </div>


</form>

{% endblock %}
