 {% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Prototypes for stillbirth
    </h1>
 <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 3: Millie, Nici or Vika</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <h2 class="govuk-heading-m govuk-!-margin-bottom-2">For development -</h2>
        <h3 class="govuk-body">Pages that don't exist in births or deaths (ignore rest of proto as this is an older version)</h3>
     <p class="govuk-body">
       <a href="latest/02b-notifications">NHS birth notifications for stillbirths</a> 
     </p>
      <p class="govuk-body">
       <a href="latest/02-search-all.html">Search birth notifications</a> 
     </p>
     <p class="govuk-body">
       <a href="latest/informant/cause-of-death/pregnancy-delivery">Pregnancy and delivery page</a> 
     </p>
     
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

   

     <h2 class="govuk-heading-m govuk-!-margin-bottom-2">For user research</h2>
     
     <p class="govuk-body">
       This prototype caters for a few scenarios - these depend on what user selects on the 'Source of medical information' radio buttons. Note that the triage and journey only works for scenario with informant types where father is on the certificate also.
       </p>
        <p class="govuk-body">
       Scenarios: 
       </p>
       <ul class="govuk-list govuk-list--bullet">
        <li>Medical certificate of stillbirth (form 34) </li>
         <li>Coroner with informant registration (CN2)</li>
    
        <li>Coroner inquest - 99A (no informant)</li>
        <li>No medical form  (form 35)</li>
       </ul>
       <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-body govuk-!-font-weight-bold">For development - pages that don't exist in births or deaths</h3>
     <p class="govuk-body">
       <a href="latest/02b-notifications">NHS birth notifications for stillbirths</a> 
     </p>
     <p class="govuk-body">
       <a href="latest/informant/cause-of-death/pregnancy-delivery">Pregnancy and delivery page</a> 
     </p> 
     
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">-->
     <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Round 2: <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
       Tested
     </strong></h3>
 
     <h3 class="govuk-body govuk-!-font-weight-bold">Tested on P7, P8, P9, P10</h3>
     <p class="govuk-body">
       <a href="v4/01-life-event-home.html">Latest home page</a> 
     </p>
     <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

     <h3 class="govuk-body govuk-!-font-weight-bold">Tested on P6</h3>
 <p class="govuk-body">
       <a href="v3/01-life-event-home.html">Version 3 Home page</a> 
     </p>
     <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

      <h3 class="govuk-body govuk-!-font-weight-bold">Tested on P1, P2, P3, P4</h3>
 <p class="govuk-body">
       <a href="v2/01-life-event-home.html">Version 2 Home page</a> 
     </p>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

   </div>
      <!-- <p class="govuk-body">
      <a href="latest/no-informant/task-list.html">No informant task list</a>
    </p>
     <p class="govuk-body">
      <a href="latest/informant/task-list.html">Informant-led task list</a> 
    </p> -->
 
    

   

  

     <!-- Informant -->
     

     <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Informant led (Figma)</h2>
     
     <p class="govuk-body">
       Exploratory research with registrars and first draft of Figma prototype
     </p>
     
     <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Round 1: <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-2">
       Tested
     </strong></h3>
 
    <p class="govuk-body">
       Ask UCD for access to Figma file to view iteration shown to participants
     </p>
    
     
 


   

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!-- Another prototype-->

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Template: Work name</h2>
    <strong class="govuk-tag govuk-!-margin-bottom-4">
      Status
    </strong>

    <p class="govuk-body">
      <a href="#">Link</a>
    </p>

    <p class="govuk-body">
      Short description.
    </p>

    <p class="govuk-body-s">Got a question? Team x: Interaction Designer, Content Designer, Researcher</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  </div>
</div>

{% endblock %}
